<h2>New link</h2>
<%= form_for(@link) do |f| %>
	<p>
	  <%= f.label :name %><br />
	  <%= f.text_field :name %>
	</p>

	<p>
	  <%= f.label :url %><br />
	  <%= f.text_field :url %>
	</p>
	<%= f.submit %>
<% end %>